@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
body {
    margin: 0;
    background-color: rgba(238, 73, 77, .2);
}
h1 {
    font-family: Satisfy, Script;
    font-size: 150pt;
}
p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20pt;
    padding: 20px;
    width: 580px;
}
br {
    height: 20px;
}
#content {
    display: flex;
    justify-content: space-between;
    margin: 0;
}
#one, #two {
    position: relative;
    width: 620px;
    margin: 0;
}
div {
    border: black solid 3pt;
}
head {
    position: absolute;
}