@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
body {
    margin: 0;
    background-color: rgba(238, 73, 77, .2);
    font-size: 100%;
    top: 0;
    width: 100%;
    overflow-x: hidden;
}
h1 {
    position: static;
    font-family: Satisfy, Script;
    font-size: 7.5em;
    color: #5A0424;
    margin: 0;
}
#contact, #gallery {
    text-align: right;
    width: 100%;
}
p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.25em;
    /* font-weight: bold; */
    padding: 1em;
    /* border: pink dotted 0.1em; */
    color: #9B0F41;
}
span.br {
    display: block;
    margin-bottom: 1.25em;
    /* height: 3.29482759%; */
}
span.bigbr {
    display: block;
    margin-bottom: 4em;
    /* height: 3.29482759%; */
}
#snaketitle, #minesweepertitle {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    height: 1em;
    width: 100%;
    z-index: 10;
    position: relative;
    top: -3.25em;
}
#games {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* row-gap: 1em; */
}
#content {
    display: flex;
    justify-content: center;
    margin: 0;
    width: 100%;
    height: calc(100%-11.3em);
    top: 9.3em;
    /* padding-top: 17.125em; */
}
#one, #two {
    position: relative;
    width: 50%;
    margin: 2.5em;
    height: 40em;
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
}  
#one::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}
#two::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}
/* div {
    border: black solid 3pt;
} */
header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 9.3em;
    background: #9B0F41;
    margin: 0;
    z-index: 6;
}
footer {
    display: flex;
    flex-wrap: wrap;
    padding: 1.2em;
    padding-left: 3.125%;
    padding-right: 3.125%;
    justify-content: space-around;
    position: relative;
    height: 6.73em; /*24/20 ->9.3em */
    background: #9B0F41;
    /* bottom: 11.625em; */
    bottom: 0;
    width: 100%;
    /* display: none; */
}
#gallerygrid {
    display: grid;
    grid-template: auto, auto, auto, auto, auto / 39.655172%, 50%;
    grid-gap: 0 1.25em;
    padding: 1.25em;
    /* width: 100%; */
}
.left {
    width: 100%;
    height: 100%;
    grid-column: 1;
    padding: 0;
    margin: 0;
    text-align: left;
}
.right {
    width: 100%;
    height: 100%;
    grid-column: 2;
    padding: 0;
    margin: 0;
    text-align: right;
}
#headerBox2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14em;
    height: 7.7em;
    background: rgba(90, 4, 36, .4);
    border-radius: 1.25em;
    bottom: 0;
}
#headerBox1 {
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 40em;
    height: 8em;
    background: rgba(255, 255, 255, .4);
    border-radius: 1.25em;
}
#nameandlogo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    /* margin-left: 5.75em;  8.984375%;   115px/1280 */
    margin-top: 1.5em; /*   16.129032258%;     30px/186 */
    /* margin-right: 3.5em;   5.46875%;  70px/1280 */
    margin-left: 8.984375%;
    /* margin-top: 16.129032258%; */
    margin-right: 5.46875%;
}
#headerspace {
    display: inline-block;
    width: 5.75em;
}
nav {
    height: 5em;
    width: 100%;
    background: #9B0F41;
    margin: 0;
    padding: 0;
    top: 0;
    margin-top: 9.3em;
    align-items: center;
    display: flex;
    justify-content: space-around;
    position: sticky;
    z-index: 5;
}
ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
li {
    list-style: none;
    width: 8.3em;
    height: 2.25em;
    border-radius: 1.25em;
    background: rgba(255, 255, 255, .4);
    display: flex;
    justify-content: center;
    align-items: center;
}
a {
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    color: #FFD96D;
    font-weight: bold;
    font-size: 1.5em;

}
a.footerhead {
    font-family: 'Courier New', Courier, monospaces;
    color: white;
    font-size: 1em;
    text-decoration: underline;
}

div.footerdiv {
    width: 25%;
    display: flex;
    flex-direction: column;
    height: 80%;
}
a.footerlist {
    font-family: 'Courier New', Courier, monospaces;
    color: white;
    font-size: 1em;
}
h4 {
    font-family: 'Courier New', Courier, monospaces;
    color: white;
    font-size: 1em;
    justify-self: end;
    text-align: right;
    width: 85%;
}
.pt16 {
    font-size: 0.8em; /*1em; */
    /* font-weight: bold;
    font-style: italic; */
}
.pt17 {
    font-size: 0.85rem; /*1.0625em; */
    font-style: italic;
    color: #9B0F41;
    font-weight: initial;

}
.pt23 {
    font-size: 1.15em;/*1.4375em; */
}
.pt24 {
    font-size: 1.2em;
}
.pt25 {
    font-size: 1.25em;/*1.5625em; */
}
.pt26 {
    font-size: 1.3em;/*1.625em; */
}
img.left {
    position: relative;
    /* top: -1.25em; */
}
#logo {
    width: 12.7272727273em;
    height: 8em;
}
#name {
    color: #FFF08F;
    font-weight: initial;
    /* width: 35em; */
    font-stretch: ultra-expanded;
    position: relative;
    top: -.15em;
}
/* img.right {
    width: 40%;
} */
